/* Responsive-Portfolio CSS */

* {
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: lightgrey;
    background-size: auto;
    text-align: center;
    background: url("https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7ef79a01f0a12450049b7d20cd10f93c&auto=format&fit=crop&w=1267&q=80") center fixed;
}
header{
    position: fixed;
    width: 100%;
    top: 0px;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    list-style-type: none;
}
.wrapper {
    width: 960px;
    margin: 0px auto;
    overflow: auto;
}
li a {
    float: right;
    padding-left: 25px;
    padding-top: 25px;
    color: #777777;
    text-decoration: none;
    margin: auto;
}
#myName {
    float: left;
    font-size: 24px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background: #4aaaa5;
    padding: 20px;
    color: white;
}
#image {
    padding-top: 10px;
    padding-right: 20px;
} 
h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-style: bolder;
    font-size: 24px;
    padding-top: 0px;
}   
#borderLine {
    margin: 15px 0px 20px 0px;
    height: 2px;
    background-color:#dddddd;
}
.textBlock {
    background: #ffffff;
    width: 960px;
    border: 2px solid #dddddd;
    margin: 100px auto 100px auto;
    padding: 15px 30px 20px 30px;
    text-align: left;
    color: #777777;
    line-height: 2;
    height: auto;
    text-align: justify;
}
input[type=text] {
    width: 100%;
    padding: 5px 5px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
}
#txtArea {
    width: 100%;
    height: 150px;
    padding: 5px 5px;
    border: 1px solid #dddddd;
    color: #777777; 
    font-size: 12px;
}
button {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 8px 20px;
}
#image1 {
    position: relative;
    float: left;
    text-align: center;
    color: white;
    margin: 10px 30px 10px 0px;
    overflow: auto;
}
.galleryText {
    position: absolute;
    bottom: 20px;
    line-height: 4;
    width: 100%;
    background: #4aaaa5;
    text-align: center;
    color: white;
}
#footer1{
    background: #666666;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 12px;
    border-top: 6px solid #4aaaa5;
}

@media screen and (max-width: 980px) {
    .textBlock {
        width: 675px;
        float: left;
    }
    .wrapper {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px;
    }
    header{
        width: 100%;
        top: 0px;
        background: #ffffff;
        border-bottom: 2px solid #cccccc;
        list-style-type: none;
    }
}

  @media screen and (max-width: 768px) {
    .textBlock {
        width: 100%;
    }
    .wrapper {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px;
        margin: 0 auto;
    }
    #image1 {
        clear: both;
        text-align: center;
        padding: auto;
        color: white;
        margin: 10px auto;
        overflow: hidden;
    }
    .galleryText {
        bottom: 20px;
        line-height: 4;
        background: #4aaaa5;
        text-align: center;
        color: white;
    }
  }

  @media screen and (max-width: 640px) {

    header {
        position: static;
    }
    .textBlock {
        width: 100%;
        margin: 50px 0px 100px 0px;
    }
    .wrapper {
        width: 100%;
        margin: 0px;
    }
    #myName {
        float: none;
        clear: both;
        font-size: 24px;
        font-family: 'Georgia', Times, Times New Roman, serif;
        background: #4aaaa5;
        padding: 20px 0px 20px 0px;
        color: white;
    }
    li a {
        list-style-type: none;
        padding: 20px 0px 20px 10px;
        display: inline;
        color: #777777;
        text-decoration: none;
        margin: 0 auto;
        text-align: center;
    }
    #image1 {
        position: relative;
        text-align: center;
        color: white;
        margin: 10px 0px 10px 0px;
    }
    .galleryText {
        position: absolute;
        bottom: 20px;
        line-height: 4;
        width: 275px;
        background: #4aaaa5;
        color: white;
    }
    #image {
        padding-top: 10px;
        padding-right: 20px;
        min-width: 400px;
        width: 100%;
    } 
  }